<!doctype html>
<html>
<head>
    <%- include('commons/head.ejs'); %>
    <!-- -->
    <link href="css/jquery.bxslider.css" rel="stylesheet" media="screen">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <!-- -->
</head>
<body>
<div class="wrapper">
    <header>
        <%- include('commons/header.ejs'); %>
    </header>
    <div>
        <%- include('index/carousel.ejs'); %>
    </div>
    <div class="contant">
        <section>
            <%- include('index/presentation.ejs'); %>
        </section>
        <section class="gray-bg">
            <%- include('index/featured-courses.ejs'); %>
        </section>
        <div>
            <%- include('index/course-by-subject.ejs'); %>
        </div>
        <section class="gray-bg">
            <%- include('index/teachers.ejs'); %>
        </section>

        <section class="follow-us">
            <%- include('commons/followus.ejs') %>
        </section>
    </div>

    <footer>
        <%- include('commons/footer.ejs') %>
    </footer>
</div>

<%- include('commons/tail.ejs') %>

</body>
</html>
