<!doctype html>
<html>
<head>
    <%- include('commons/head.ejs'); %>
</head>
<body>
<div class="wrapper">
    <header>
        <%- include('commons/header.ejs'); %>
    </header>
    <div class="page-heading">
        <div class="container">
            <h2>Teacher/Student Login</h2>

            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <% if(err){ %>
            <div class="pull-right"> <%= err %></div>
            <% } %>
        </div>
    </div>
    <div class="contant">
        <div class="container">
            <div class="row">
                <div class="span2"><!----></div>
                <div class="span9">
                    <div class="form-box">
                        <form method="post" action="/login">
                            <div class="form-body">
                                <fieldset>
                                    <legend>Login Below:</legend>
                                    <label>Email Address</label>
                                    <input type="email" placeholder="Enter your E-mail" class="input-block-level"
                                           name="email">
                                    <label>Password</label>
                                    <input type="password" placeholder="Enter Password" class="input-block-level"
                                           name="password">

                                    <button type="submit" class="btn-style">Submit</button>
                                </fieldset>
                            </div>
                            <div class="footer">
                                <ul>
                                    <li><a href="#">I Forgot My Password</a></li>
                                    <li><a href="#">Re-send Confirmation Email</a></li>
                                </ul>
                                <button class="btn-style pull-right">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <section class="follow-us">
            <%- include('commons/followus.ejs'); %>
        </section>
    </div>
    <footer>
        <%- include('commons/footer.ejs'); %>
    </footer>
</div>
<%- include('commons/tail.ejs'); %>
</body>
</html>
