<!doctype html>
<html>
<head>
    <%- include('commons/head.ejs'); %>
</head>
<body>
<div class="wrapper">
    <header>
        <%- include('commons/header.ejs'); %>
    </header>
    <div class="page-heading bg-color">
        <%- include('sign/heading.ejs'); %>
    </div>
    <div class="contant">
        <div class="container">
            <div>
                <%- include('sign/social.ejs'); %>
            </div>
            <div class="row">
                <div class="span9">
                    <div class="form-box">
                        <form method="post" action="/student/signup">
                            <div class="form-body">
                                <fieldset>
                                    <h2>First time here ? Sign up now!</h2>

                                    <div class="row-fluid">
                                        <div class="span6">
                                            <label>First Name</label>
                                            <input type="text" name="fname" placeholder="Enter your First Name"
                                                   class="input-block-level" required>
                                        </div>
                                        <div class="span6">
                                            <label>Last Name</label>
                                            <input type="text" name="lname" placeholder="Enter your Last Name"
                                                   class="input-block-level" required>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <label>CNE</label>
                                            <input type="text" name="cne" placeholder="Enter your CNE"
                                                   class="input-block-level" required>
                                        </div>
                                        <div class="span6">
                                            <label>Enter Email</label>
                                            <input type="text" name="email" placeholder="Enter your E-mail ID"
                                                   class="input-block-level" required>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <label>Password</label>
                                            <input type="password" name="password" placeholder="Enter your password"
                                                   class="input-block-level" required>
                                        </div>
                                        <div class="span6">
                                            <label>Password</label>
                                            <input type="password" name="password2"
                                                   placeholder="Reconfirm your password" class="input-block-level"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <label>Birthday</label>
                                            <input type="date" name="birthday" placeholder="Format : 00/00/0000"
                                                   class="input-block-level" required>
                                        </div>
                                        <div class="span6">
                                            <label>Education Level</label>
                                            <select class="input-block-level" name="level" required>
                                                <option value="1">Level1</option>
                                                <option value="1">Level1</option>
                                                <option value="1">Level1</option>
                                                <option value="1">Level1</option>
                                                <option value="1">Level1</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="footer">
                                <h2>Your Preferences</h2>

                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Select Your Course</label>
                                        <select class="input-block-level" name="course" required>
                                            <option id="1">Course1</option>
                                            <option id="2">Course2</option>
                                            <option id="3">Course3</option>
                                            <option id="4">Course4</option>
                                            <option id="5">Course5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <p class="pull-left" data-toggle="tooltip" title="Fuck Terms and Conditions !!">By
                                        registering, You accept Terms &amp; Conditions</p>
                                    <button type="submit" class="btn-style pull-right">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="span3">
                    <%- include('sign/aside.ejs'); %>
                </div>
            </div>
        </div>
        <section class="follow-us">
            <%- include('commons/followus.ejs'); %>
        </section>
    </div>
    <footer>
        <%- include('commons/footer.ejs'); %>
    </footer>

</div>

<%- include('commons/tail.ejs'); %>
</body>
</html>
